body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef1f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.5em;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    margin-top: 2em;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
    font-weight: bold;
}

.wards {
    margin-bottom: 20px;
}

.ward {
    margin-bottom: 40px;
}

.ward h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #444;
    text-transform: uppercase;
}

.bed-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.bed {
    width: 80px;
    height: 80px;
    margin: 5px;
    display: flex;
    /* align-items: center; */
    text-align: inherit;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    position: relative; /* To position the button within the bed element */
}

.bed-number {
    font-weight: bold;
    margin-top: 20px; /* Adjust this value to move the number lower */
}

.bed:hover {
    transform: scale(1.1);
}

.bed.available {
    background-color: #28a745;
}

.bed.reserved {
    background-color: #dc3545;
}

.bed-number {
    font-weight: bold;
}

.bed button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bed .available button {
    background-color: #007bff;
}

.bed .reserved button {
    background-color: #6c757d;
}

.bed button:hover {
    background-color: #00406a;
    color: #ffffff;
}

.bed .reserved button:hover {
    background-color: #5a6268;
}

.summary {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary div {
    padding: 15px 20px;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.summary .total-beds {
    background-color: #17a2b8;
}

.summary .available-beds {
    background-color: #28a745;
}

.summary .reserved-beds {
    background-color: #dc3545;
}

.search-container {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
    width: 80%;
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0.4em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #0056b3;
}


/* navigation bar */
.navbar {
    background-color: #ffffff;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.nav-button {
    color: #333;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3em;
    transition: background-color 0.3s;
    font-size: 1em;
    display: inline-block;
    margin: 0.2em;
}

.nav-button:hover {
    background-color: #e0e0e0;
}

.logo img {
    height: 3em;
}

.sign-in-sign-up button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1em;
    margin: 0.6em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
}

.sign-in-sign-up button:hover {
    background-color: #0056b3;
}